<div class="card">
  <div class="card-body">
    <div class="titulo-card">List movie winners by year</div>

    <div class="d-flex pb-2">
      <input
        class="form-control"
        [(ngModel)]="ano"
        type="number"
        placeholder="Search by year"
        aria-label="Search by year"
      />
      <button class="btn btn-primary" (click)="obterFilmesVencedoresPorAno()">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="16"
          height="16"
          fill="currentColor"
          class="bi bi-search"
          viewBox="0 0 16 16"
        >
          <path
            d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"
          ></path>
        </svg>
      </button>
    </div>

    <table class="table table-sm table-striped table-bordered">
      <thead class="table-secondary">
        <tr class="font-weight-bold">
          <td>Id</td>
          <td>Year</td>
          <td>Title</td>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let elem of dados$ | async">
          <td>{{ elem.id }}</td>
          <td>{{ elem.year }}</td>
          <td>{{ elem.title }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
