<div class="toolbar">
  <div class="nome">Frontend Angular Test</div>
</div>

<div class="wrapper">
  <div id="sidebar" class="d-flex flex-column flex-shrink-0 p-3 bg-light">
    <ul class="nav nav-pills flex-column mb-auto">
      <li class="nav-item" (click)="definirLinkAtivo('dashboard')">
        <a
          routerLink="/dashboard"
          class="nav-link"
          [ngClass]="{ active: linkAtivo === 'dashboard' }"
        >
          Dashboard
        </a>
      </li>
      <li (click)="definirLinkAtivo('lista-filmes')">
        <a
          routerLink="/lista-filmes"
          class="nav-link"
          [ngClass]="{ active: linkAtivo === 'lista-filmes' }"
        >
          List
        </a>
      </li>
    </ul>
    <hr />
  </div>

  <div id="content">
    <router-outlet></router-outlet>
  </div>
</div>
