<div class="container">
  <div class="card">
    <div class="card-body">
      <div class="titulo-card">List movies</div>
      <table class="table table-sm table-striped table-bordered">
        <thead class="table-secondary">
          <tr class="font-weight-bold">
            <td class="text-center">ID</td>
            <td class="text-center">
              Year
              <input
                class="form-control"
                [(ngModel)]="year"
                type="number"
                placeholder="Search by year"
                aria-label="Search by year"
                (ngModelChange)="obterFilmes()"
              />
            </td>
            <td class="text-center">Title</td>
            <td class="text-center">
              Winner?
              <div>
                <select
                  class="form-select"
                  [(ngModel)]="winner"
                  (ngModelChange)="obterFilmes()"
                >
                  <option value="">Yes / No</option>
                  <option value="true">Yes</option>
                  <option value="false">No</option>
                </select>
              </div>
            </td>
          </tr>
        </thead>
        <tbody *ngIf="collection">
          <tr
            *ngFor="
              let elem of collection?.content
                | paginate
                  : {
                      itemsPerPage: itensPerPage,
                      currentPage: page,
                      totalItems: totalItens
                    }
            "
          >
            <td>{{ elem.id }}</td>
            <td>{{ elem.year }}</td>
            <td>{{ elem.title }}</td>
            <td>{{ elem.winner }}</td>
          </tr>

          <tr>
            <td colspan="4" class="text-center">
              <pagination-controls
                previousLabel=""
                nextLabel=""
                (pageChange)="pageChanged((page = $event))"
                (pageBoundsCorrection)="pageChanged((page = $event))"
              >
              </pagination-controls>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
